<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="menu">
<head>
    <meta charset="UTF-8">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">


</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Liste Produits</div>
            <form method="get" th:action="@{/admin/product}" class="mb-3">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" th:value="${searchName}" placeholder="Search products">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Subtitle</th>
                        <th>Qte</th>
                        <th>Price</th>
                        <th>File</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s:${pagesProducts}">
                        <td th:text="${s.id}"></td>
                        <td th:text="${s.fullName}"></td>
                        <td th:text="${s.subtitle}"></td>
                        <td th:text="${s.qteStock}"></td>
                        <td th:text="${s.price}"></td>
                        <td>
                            <img th:src="@{'/' + ${s.image}}" alt="Attachment" class="img-thumbnail" style="width: 100px; height: auto;">
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" th:href="@{delete(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}">Delete</a>
                            <a class="btn btn-outline-dark btn-sm" th:href="@{edit(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="p:${tabPages}">
                            <a class="page-link"
                               th:text="${p+1}"
                               th:classappend="${p==currentPage? ' active' : ''}"
                               th:href="@{product(page=${p}, size=${size}, search=${searchName})}">

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>